:root{
    --dark-Blue: hsl(240, 38%, 20%);
    --grayish-Blue: hsl(240, 18%, 77%);
    --dark-Blue-white: hsl(240, 31%, 40%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}
main{
    width: 100vw;
    height: 100vh;
    background-image: url('../images/pattern-curve.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
.slide{
    padding-top: 20px;
    width: 100%;
    height: 600px;
    display: grid;
    place-content: center;
}
.slide-card{
    width: 350px;
    height: 582px;
}
.slide-image-bg{
    width: 100%;
    height: 330px;
    padding: 40px;
    background-image: url('../images/pattern-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.image-person{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    box-shadow: 1px 1px 8px 4px rgb(221, 222, 231);
}
.controls{
    width: 80px;
    height: 40px;
    background-color:white;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px rgb(231, 211, 211);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    position: relative;
    margin-top: -20px;
}
.prev{
    place-self: center;
}
.next{
    place-self: center; 
}
.slide-info_container{
    width: 100%;
    display: grid;
    justify-items: center;
}
.image-quotes{
    width: 50px;
    height: 50px;
}
.slide-info_comment{
    font-size: 2rem;
    text-align: start;
    margin-top: -20px;
    color: var(--dark-Blue-white);
    font-weight: 300;
    
}
.slide-info_name{
    color: var(--dark-Blue);
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.slide-info_profession{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--grayish-Blue);
}

@media screen and (min-width:900px) {
    .slide{
        height: 100vh;
        place-content: center;
    }
    .slide-card{
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-areas: "left right";
        width: 100%;
        height: 600px;
    }
    .slide-image-bg{
        grid-area: right;
        width: 100%;
        height: 550px;
        display: grid;
        place-items: center;
    }
    .image-person{
        width: 450px;
        height: 450px;
    }
    .slide-info{
        grid-area: left;
        place-self: center;
        display: grid;
     }
     .slide-info_comment{
         font-size: 3.2rem;
         text-align: start;
         margin-right: -250px;
         padding-left: 30px;
         line-height: 3.8rem;
         font-weight: 300;
         margin-bottom: 25px;
     }
     .slide-info_container{
         width:80%;
         justify-self: end;
     }
     .image-quotes{
         width: 100px;
         height: 100px;
     }
     .slide-info_personal{
         display: grid;
         margin-left: 30px;
         justify-self: start;
         grid-template-columns: 1fr 1fr;
         gap: 15px;
     }
     .slide-info_name{
         font-size: 1.8rem;
     }
     .slide-info_profession{
         font-size: 1.8rem;
     }
 }